Repository timber/timber, pull requests merged in 2019-03, with the labels that each got.

#1932 Remove some Timber/User overhead
  docs/upgrade-guides/2.0.md
  lib/User.php
Labels: 2.0

#1925 Improve Image Guide
  docs/guides/cookbook-images.md
Labels: docs

#1949 2.x Add CODEOWNERS file
  .github/CODEOWNERS
Labels: 2.0

#1944 Improve notes about CDN limitations
  docs/guides/cookbook-images.md
Labels: docs, wip

#1951 Ref #1936 – Update WooCommerce guide
  docs/guides/woocommerce.md
Labels: docs
